.element_active {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    animation: animate 0.3s linear both;
    z-index: 2;
}

@keyframes animate {
    form {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}