.popup__close {
    top: 0;
    right: 0;
    padding: 0;
    margin: -40px -40px 0 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 620px) {
    .popup__close {
        margin: -36px -1px 0 0;
    }
}