.element {
    max-width: 282px;
    min-height: 361px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 11px;
    /* overflow: hidden; */
    position: relative;
}