.popup__content-photo {
    max-width: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    text-align: start;
    animation: animate-rotate 0.3s linear;
}
