.popup__form-error{
    margin: 0;
    height: fit-content;
    color: #ff0000;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    visibility: visible;
    box-sizing: border-box;
    max-width: 358px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top:194px;

}
@media screen and (max-width: 620px) {
    .popup__form-error {
        max-width: 238px;
        top:202px;
        

    }
}