.popup__save {
    margin-top: 49px;
    padding: 0;
    border: none;
    color: #fff;
    background-color: black;
    max-width: 358px;
    width: 100%;
    margin-bottom: 36px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
}

.popup__save:hover {
    opacity: .8;
}

@media screen and (max-width: 620px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        min-height: 46px;
        margin-top: 45px;
        margin-bottom: 26px;
    }

}